@import "@fontsource/ubuntu";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Override default colors */
  --accent: oklch(64.5% 0.246 16.439);
}

.dark {
  /* Override dark theme colors */
  --accent: oklch(71.2% 0.194 13.428);
}

body {
  font-family: "Ubuntu", sans-serif;
}
