@import "@fontsource-variable/ubuntu-sans";
@import "@fontsource-variable/ubuntu-sans-mono";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Ubuntu Sans Variable", sans-serif;
  --font-mono: "Ubuntu Sans Mono Variable", monospace;

  /* Custom color shades */
  --color-rose-25: var(--rose-25);
  --color-pink-25: var(--pink-25);
  --color-fuchsia-25: var(--fuchsia-25);
  --color-rose-975: var(--rose-975);
  --color-pink-975: var(--pink-975);
  --color-fuchsia-975: var(--fuchsia-975);
  --color-rose-985: var(--rose-985);
  --color-pink-985: var(--pink-985);
  --color-fuchsia-985: var(--fuchsia-985);
}

:root {
  /* Override default colors */
  --accent: var(--color-rose-500);

  /* Custom color shades */
  --rose-25: oklch(0.9848 0.0076 7.28);
  --pink-25: oklch(0.9865 0.0059 350.79);
  --fuchsia-25: oklch(0.9896 0.0078 319.45);

  --rose-975: oklch(0.1777 0.0535 4.68);
  --pink-975: oklch(0.1789 0.051 358.5);
  --fuchsia-975: oklch(0.1766 0.0575 326.04);

  --rose-985: oklch(0.1416 0.0344 355.28);
  --pink-985: oklch(0.1196 0.0313 358.5);
  --fuchsia-985: oklch(0.1391 0.0443 327.63);
}

.dark {
  /* Override dark theme colors */
  --accent: var(--color-rose-400);
  --accent-foreground: var(--eclipse);
}

html {
  @apply bg-linear-to-r bg-rose-25 from-pink-25 via-rose-25 to-fuchsia-25;
  @apply dark:bg-rose-985 dark:from-pink-985 dark:via-rose-985 dark:to-fuchsia-985;
}

body::before {
  content: "";
  @apply fixed top-0 z-40 w-full h-24 pointer-events-none;
  @apply bg-linear-to-b from-rose-25 via-rose-25/25 to-transparent;
}

.dark body::before {
  @apply from-rose-985 via-rose-985/25;
}

/* Bottom fade out for standalone mode and non-iOS browsers */
@media (display-mode: standalone) {
  body::after {
    content: "";
    @apply fixed bottom-0 z-40 w-full h-16 pointer-events-none;
    @apply bg-linear-to-t from-rose-25 via-rose-25/25 to-transparent;
  }

  .dark body::after {
    @apply from-rose-985 via-rose-985/25;
  }
}

@supports not (-webkit-touch-callout: none) {
  body::after {
    content: "";
    @apply fixed bottom-0 z-40 w-full h-16 pointer-events-none;
    @apply bg-linear-to-t from-rose-25 via-rose-25/25 to-transparent;
  }

  .dark body::after {
    @apply from-rose-985 via-rose-985/25;
  }
}

body {
  @apply flex flex-col min-h-svh;
}

.link {
  @apply rounded;
}

input:disabled {
  @apply text-muted;
}

input:disabled::placeholder {
  @apply text-muted/60;
}
