name: autofix.ci
on: [ push, pull_request ]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bunx biome format --write

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27