name: autofix.ci
on: [ push ]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
                
      - run: bun install
      - uses: nrwl/nx-set-shas@v4
      
      - run: bun biome format --write

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27